.details {
    @media (max-width: 900px) {
        &--visible {
            .details__content {
                width: auto;
                height: 650px !important;

                &-main {
                    flex-direction: column;
                    gap: 50px;
                }
            }
        }
    }

    @media (max-width: 560px) {
        &--visible {
            .details__content {
                &-main {
                    &-sun-state {
                        width: 250px;
                    }

                    &-data {
                        width: 250px;
                    }
                }
            }
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
        margin: 0 auto;
        font-size: 1rem;

        &-main {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 15%;
            width: 100%;

            &-sun-state {
                display: flex;
                flex-direction: column;
                gap: 40px;
                justify-content: center;
                background: #ffffff15;
                border-radius: 10px;
                padding: 20px;
                transition: box-shadow 0.3s ease, background 0.3s ease;
                width: 320px;

                &:hover {
                    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
                    background: #80808030;
                }

                &-block {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 1em;
                    font-size: 1em;

                    transition: filter 0.5s;

                    svg {
                        width: 4em;
                        height: 4em;
                    }

                    strong {
                        font-size: 2em;
                        margin-left: auto;
                    }

                    &--sunrise {
                        &:hover {
                            filter: drop-shadow(0 0 2em skyblue);
                        }
                    }

                    &--sunset {
                        &:hover {
                            filter: drop-shadow(0 0 2em orangered);
                        }
                    }
                }
            }

            &-data {
                display: flex;
                flex-direction: column;
                gap: 20px;
                justify-content: center;
                background: #ffffff15;
                border-radius: 10px;
                padding: 20px;
                transition: box-shadow 0.3s ease, background 0.3s ease;
                width: 320px;

                &:hover {
                    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
                    background: #80808030;
                }

                &-block {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 50px;
                    font-size: 1em;

                    &-icon {
                        display: inline-flex;
                        font-size: 2em;
                        align-items: center;
                        margin-right: -45px;

                        svg {
                            width: 1em;
                            height: 1em;
                        }
                    }

                    strong {
                        font-size: 2em;
                        margin-left: auto;

                        small {
                            font-size: 0.5em;
                        }
                    }
                }
            }
        }

        &-second {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            background: #ffffff15;
            border-radius: 10px;
            text-align: center;
            font-size: 2rem;
            font-weight: 100;
            transition: box-shadow 0.3s ease, background 0.3s ease;
            width: max(50%, 250px);
            position: relative;
            padding: 5px 20px;

            &:hover {
                box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
                background: #80808030;
            }

            svg {
                width: 1.8em;
                margin-right: 5px;
                padding: 10px 0;
            }

            strong {
                font-size: 1.5em;
                margin-left: 10px;
            }

            small {
                position: absolute;
                top: 0;
                right: 10px;
                font-size: 0.5em;
            }
        }
    }

    &--visible {
        .details__title {
            &-arrow {
                transform: rotate(180deg);
            }
        }

        .details__content {
            height: 370px;
            opacity: 1;
            visibility: visible;
            margin-bottom: 50px;
        }
    }
}
