@import "@styles/mixins";

.details {
    @media (max-width: 900px) {
        &--visible .details__content {
            width: auto;
            height: 640px !important;

            &-main {
                flex-direction: column;

                gap: 50px;
            }
        }
    }

    @media (max-width: 560px) {
        &--visible .details__content {
            &-main {
                &-sun-state {
                    width: 250px;
                }

                &-data {
                    width: 250px;
                }
            }
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin: 0 auto;
        gap: 50px;

        font-size: 1rem;

        &-main {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            width: 100%;
            gap: 15%;

            >div {
                @include hover-media-custom {
                    background: #80808030;
                    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
                }
            }

            &-sun-state {
                display: flex;
                flex-direction: column;
                justify-content: center;

                width: 320px;
                padding: 20px;
                gap: 40px;

                background: #ffffff15;
                border-radius: 10px;
                transition: box-shadow 0.3s ease, background 0.3s ease;

                &-block {
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    gap: 1em;

                    font-size: 1em;

                    transition: filter 0.5s;

                    svg {
                        width: 4em;
                        height: 4em;
                    }

                    strong {
                        margin-left: auto;

                        font-size: 2em;
                    }

                    &--sunrise {
                        @include hover-media-custom {
                            filter: drop-shadow(0 0 2em skyblue);
                        }
                    }

                    &--sunset {
                        @include hover-media-custom {
                            filter: drop-shadow(0 0 2em orangered);
                        }
                    }
                }
            }

            &-data {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                white-space: nowrap;
                justify-content: center;

                width: 320px;
                padding: 20px;
                gap: 20px;

                background: #ffffff15;
                border-radius: 10px;
                transition: box-shadow 0.3s ease, background 0.3s ease;

                &-block {
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    gap: 50px;

                    font-size: 1em;

                    &-icon {
                        display: inline-flex;
                        align-items: center;

                        margin-right: -45px;

                        font-size: 1em;

                        svg {
                            width: 2em;
                            height: 2em;
                        }
                    }

                    strong {
                        margin-left: auto;

                        font-size: 1.5em;

                        small {
                            font-size: 0.5em;
                            font-weight: 300;
                        }
                    }
                }
            }
        }

        &-second {
            display: flex;
            position: relative;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            text-align: center;

            width: max(50%, 250px);
            padding: 20px 20px 0 20px;

            font-size: 2rem;
            font-weight: 100;

            background: #ffffff15;
            border-radius: 10px;
            transition: box-shadow 0.3s ease, background 0.3s ease;

            @include hover-media-custom {
                background: #80808030;
                box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
            }

            svg {
                width: 1.8em;
                height: 1.8em;
                margin-right: 15px;
                padding: 10px 0;
            }

            strong {
                margin-left: 10px;

                font-size: 1.5em;
            }

            small {
                position: absolute;
                top: 0;
                right: 10px;

                font-size: 0.5em;
            }
        }
    }

    &--visible {
        .details__title {
            &-arrow {
                transform: rotate(180deg);
            }
        }

        .details__content {
            height: 370px;
            margin-bottom: 50px;

            opacity: 1;
            visibility: visible;
        }
    }
}