@import "@styles/mixins";

.burger-menu__control {
    margin-top: auto;

    &-lang {
        cursor: pointer;

        display: inline;

        font-size: 1.25rem;

        @include hover-media-opacity;

        @media (max-height: 550px) {
            font-size: 1rem;
        }
    }
}