.burger-menu__control {
    margin-top: auto;

    &-lang {
        display: inline;
        cursor: pointer;
        font-size: 1.25rem;
        opacity: 1;
        transition: opacity 0.2s;

        @media (max-height: 550px) {
            font-size: 1rem;
        }

        &:hover {
            opacity: 0.5;
        }
    }
}
