@import "@styles/mixins";

.burger-menu__navbar {
    display: block;

    margin: auto 0;

    &-link-list {
        list-style-type: none;

        display: flex;
        flex-direction: column;
        text-align: center;

        gap: 1em;
        padding: 0;

        font-size: 1.8rem;

        @media (max-width: 900px) {
            font-size: 1.5em;
        }

        @media (max-height: 550px) {
            font-size: 1rem;
        }

        &-item a {
            cursor: pointer;

            font-weight: 100;
            text-decoration: none;

            color: whitesmoke;

            @include hover-media-opacity;

            span {
                display: block;

                font-size: 0;

                opacity: 0;
                transition: all 0.5s;

                @media (max-height: 550px) {
                    display: inline-block;
                }
            }
        }
    }
}