@import "@styles/mixins";

.burger-menu__search-city {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    font-size: 1.75rem;

    border-bottom: 1px whitesmoke solid;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;

    @media (max-width: 900px) {
        font-size: 1.5rem;
    }

    &-pin {
        cursor: pointer;

        width: 15px;
        height: 15px;
        margin-left: 10px;

        transition: all 0.3s !important;

        @include hover-media-opacity;

        &--rotate {
            transform: rotate(45deg);
        }
    }

    &-input {
        width: 70%;

        font-size: 1em;
        font-weight: 100;

        background: transparent;
        border: none;
        color: whitesmoke;

        &:focus-visible {
            outline: none;
        }
    }

    &-btn {
        cursor: pointer;

        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        width: 2em;
        height: 2em;

        font-size: 1em;

        border: none;
        border-radius: 0;

        @include hover-media-opacity;

        img {
            width: 70%;
            height: 70%;
        }
    }
}