@import "@styles/mixins";

.hourly {
    @media (max-width: 900px) {
        &--visible .hourly__content {
            height: 600px !important;

            &-list {
                flex-direction: column;
                flex-wrap: wrap;

                height: 95%;
            }
        }
    }

    &__content {
        &-list {
            overflow-x: auto;

            display: flex;
            flex-direction: row;

            padding-left: 13px;
            gap: 50px;

            scrollbar-width: thin;

            &-block {
                text-align: center;
            }

            &-item {
                display: flex;
                flex-direction: column;
                align-items: center;

                padding: 1em;

                font-size: 1rem;

                background: #ffffff15;
                border-radius: 0.7em;
                transition: box-shadow 0.3s ease, background 0.3s ease;

                @include hover-media-custom {
                    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
                    background: #80808030;
                }

                &-temp {
                    margin-bottom: 1em;

                    font-size: 2em;
                }

                &-icon {
                    width: 2.2em;
                    height: 2.2em;

                    font-size: 2em;
                }

                &-time {
                    margin-top: 2em;

                    font-size: 1em;
                }
            }
        }
    }

    &--visible {
        .hourly__title {
            &-arrow {
                transform: rotate(180deg);
            }
        }

        .hourly__content {
            height: 320px;
            padding: 20px !important;

            opacity: 1;
            visibility: visible;
        }
    }
}