@import "@styles/mixins";

.wind {
    @media (max-width: 900px) {
        &--visible .wind__content {
            flex-direction: column;

            height: 585px !important;
            gap: 50px;
        }
    }

    @media (max-width: 560px) {
        &--visible .wind__content-text {
            width: 250px;
        }
    }

    &__content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        margin: 0 auto;
        gap: 15%;

        &-text {
            display: flex;
            flex-direction: column;

            width: 320px;
            padding: 20px;
            gap: 10px;

            font-weight: 300;
            font-size: 1rem;

            background: #ffffff15;
            border-radius: 10px;
            transition: box-shadow 0.3s ease, background 0.3s ease;

            @include hover-media-custom {
                box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
                background: #80808030;
            }

            &-block {
                display: flex;
                flex-direction: row;
                align-items: center;

                gap: 50px;

                font-size: 1em;

                &--direction {
                    margin-bottom: 20px;

                    font-size: 2em;
                    font-weight: 100;

                    small {
                        margin-left: -40px;
                    }
                }

                &-icon {
                    display: inline-flex;
                    align-items: center;

                    margin-right: -45px;

                    font-size: 1em;

                    svg {
                        width: 2em;
                        height: 2em;
                    }
                }

                strong {
                    margin-left: auto;

                    font-size: 1.5em;

                    small {
                        font-size: 0.5em;
                        font-weight: 300;
                    }
                }
            }
        }
    }

    &--visible {
        .wind__title {
            &-arrow {
                transform: rotate(180deg);
            }
        }

        .wind__content {
            height: 320px;
            margin-bottom: 50px;

            opacity: 1;
            visibility: visible;
        }
    }
}