.hour-24 {
    &__content {
        &-list {
            display: flex;
            flex-direction: row;

            &-item {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 5px;
                font-size: 14px;

                &-temp {
                    margin-bottom: 40px;
                    font-size: 26px;
                }
            }
        }
    }
}
