html,
body {
    display: block;
    margin: 0;
    font-family: "Inter", sans-serif;
    background: url(../assets/images/base.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;

    #root {
        display: flex;
        backdrop-filter: blur(15px);
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow-x: hidden;
        scroll-behavior: smooth;
        scrollbar-width: thin;
    }

    .root-link {
        display: block !important;
        position: fixed;
        background: none;
        font-size: 2rem;
        bottom: 0px;
        right: 15px;
        text-decoration: none;
        z-index: 1;
        cursor:n-resize;

        opacity: 0;
        visibility: hidden;
        transition: all 0.5s;

        &:hover {
            opacity: 0.5;
        }

        @media (max-width: 900px) {
            font-size: 1.5rem;
            right: 1px;
        }

        &__icon {
            width: 1em;
        }

        &--visible {
            opacity: 1;
            visibility: visible;
        }
    }
}

.content-block {
    background: #ffffff10;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-top: 5vh;
    padding: 0 50px;
    opacity: 0.7;
    transition: opacity 0.2s;
    font-size: 1rem;

    &:hover {
        opacity: 1;
    }

    @media (max-width: 900px) {
        font-size: 0.75rem;

        &__title {
            flex-direction: column!important;
            text-align: center;
        }
    }

    &__title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: 3em;
        font-weight: 100;

        &-arrow {
            width: 1.25em;
            height: 1.25em;

            transition: transform 0.5s ease-out;
        }
    }

    &__content {
        height: 0;
        opacity: 0;
        visibility: hidden;

        transition: height 0.5s ease, opacity 0.5s ease;
    }
}

.change-img-fade {
    transition: opacity 1s ease-in-out;
    opacity: 1;
}

.change-img-fade.out {
    opacity: 0;
}
