@import "@styles/mixins";

html,
body {
    user-select: none;

    display: block;

    margin: 0;

    font-family: "Inter", sans-serif;

    background: url(../assets/images/base.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;

    #root {
        overflow-x: hidden;
        scroll-behavior: smooth;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        backdrop-filter: blur(15px);
        scrollbar-width: thin;
    }

    .root-link {
        cursor: pointer;

        display: block !important;
        position: fixed;
        bottom: 0px;
        right: 15px;
        z-index: 1;

        font-size: 2rem;

        opacity: 0;
        visibility: hidden;
        transition: all 0.5s !important;

        @include hover-media-opacity;

        @media (max-width: 900px) {
            right: 1px;

            font-size: 1.5rem;
        }

        &__icon {
            width: 1em;
            height: 1em;
        }

        &--visible {
            opacity: 1;
            visibility: visible;
        }
    }
}

.content-block {
    margin-top: 5vh;

    font-size: 1rem;

    background: #ffffff10;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;

    @media (hover: hover) {
        opacity: 0.5;

        @include hover-media-opacity(0.3s, 1);
    }

    @media (max-width: 900px) {
        font-size: 0.75rem;

        &__header {
            flex-direction: column !important;
        }
    }

    &__header {
        cursor: pointer;
        user-select: none;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: center;

        padding: 0 50px;

        font-size: 3em;
        font-weight: 100;

        &-arrow {
            width: 1em;
            height: 1em;

            transition: transform 0.5s ease-out;
        }
    }

    &__body {
        height: 0;
        opacity: 0;

        visibility: hidden;
        transition: height 0.5s ease, opacity 0.5s ease;
    }
}

.change-img-fade {
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

.change-img-fade.out {
    opacity: 0;
}