.weather-widget {
    width: 80%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);

    &__background {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
    }

    &__body {
        position: absolute;
        width: 80%;
        height: 100%;

        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &-content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            padding-left: 75px;

            &-title {
                margin: 0;
                margin-top: 50px;
            }

            &-info {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 25px;
                margin-bottom: 50px;

                &-temp {
                    font-size: 80px;
                }

                &-add {
                    display: flex;
                    flex-direction: column;

                    &-city {
                        font-size: 36px;
                    }

                    &-date {}
                }
            }
        }

        &-menu {
            width: 30%;
            height: 100%;
            backdrop-filter: blur(5px);
            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);

            display: flex;
            flex-direction: column;

            &-search {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                height: 50px;
                border-bottom: 1px whitesmoke solid;

                &-input {
                    background: transparent;
                    border: none;
                    color: whitesmoke;
                    font-size: 25px;
                    font-weight: 100;
                    width: 70%;

                    &:focus-visible {
                        outline: none;
                        box-shadow: none;
                    }
                }

                &-btn {
                    display: flex;
                    width: 50px;
                    height: 50px;
                    font-size: 25px;
                    border-radius: 0;
                    border: none;
                    text-align: center;
                    align-items: center;
                    justify-content: center;

                    &:hover {
                        cursor: pointer;
                        opacity: .6;
                    }

                    img {
                        width: 70%;
                        height: 70%;
                    }
                }
            }

            &-control {
                margin: auto 10px 0 auto;

                &-lang {
                    display: inline;
                    cursor: pointer;
                    font-size: 20px;

                    &:hover {
                        opacity: .6;
                    }
                }
            }
        }
    }
}