.weather {
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: start;

    width: 80%;
    height: 100vh;

    color: whitesmoke;

    &__body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;

        width: clamp(320px, 85%, 1700px);
    }
}