@import "@styles/mixins";
@import "@styles/keyframes";

.daily-null {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-bottom: 50px;

    &__title {
        cursor: no-drop !important;

        width: 100%;
    }
}

.daily {
    margin-bottom: 50px;

    &__content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        width: 90%;
        margin: 0 auto;

        transition: margin 0.25s !important;

        &-loader {
            display: block;

            width: 4em;
            height: 4em;

            border: 5px #ffffff15 solid;
            border-bottom: 5px #ffffff55 solid;
            border-radius: 50%;
            animation: spin 1s linear infinite;
        }

        &-list {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;

            padding: 0;
            margin: 0;
            gap: 5em;

            &-block {
                text-align: center;
            }

            &-item {
                display: flex;
                flex-direction: column;

                width: 200px;
                height: 0;
                padding: 1.5em;

                font-size: 14px;

                background: #ffffff15;
                border-radius: 10px;
                transition: box-shadow 0.3s ease, background 0.3s ease;

                @include hover-media-custom {
                    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
                    background: #80808030;
                }

                &-title {
                    margin-top: 0.5em;
                    margin-bottom: 30px;

                    font-size: 2rem;
                    font-weight: 100;

                    border-bottom: 1px #434343 solid;
                }

                &-body {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    gap: 2em;

                    font-size: 1rem;

                    &-main {
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        &-icon {
                            width: 4.5em;
                            height: 4.5em;
                        }

                        &-value {
                            display: flex;
                            flex-direction: row;

                            gap: 20px;

                            div {
                                display: flex;
                                flex-direction: row;
                                justify-content: space-between;
                                align-items: center;

                                gap: 10px;

                                font-size: 1.5rem;

                                small {
                                    font-size: 0.8rem;
                                    font-weight: 100;
                                }
                            }
                        }
                    }

                    &-second {
                        display: flex;
                        flex-direction: column;

                        gap: 0.8em;

                        &-block {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            align-items: center;

                            gap: 15px;

                            &-label {
                                display: inline-flex;
                                align-items: center;

                                font-size: 0.8rem;
                                font-weight: 100;

                                svg {
                                    width: 1.5em;
                                    height: 1.5em;
                                    margin-right: 5px;
                                }
                            }

                            &-value {
                                font-size: 1.2rem;
                                font-weight: 300;
                            }

                            &--direction {
                                display: flex;
                                flex-direction: row;
                                justify-content: center;

                                margin-bottom: 20px;

                                .daily__content-list-item-body-second-block-value {
                                    text-align: center;

                                    font-size: 1.3rem;
                                    font-weight: 500;
                                }

                                .compass {
                                    width: 3.5em !important;
                                    height: 3.5em !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &--visible {
        .daily__title {
            &-arrow {
                transform: rotate(180deg);
            }
        }

        .daily__content {
            height: auto;
            margin-bottom: 50px;

            opacity: 1;
            visibility: visible;

            &-list {
                &-item {
                    height: auto;
                }
            }
        }
    }
}
