.daily {
    margin-bottom: 50px;

    &__content {
        display: flex;
        justify-content: center;
        align-items: center;
        transition: margin 0.25s !important;

        &-loader {
            display: block;
            width: 50px;
            height: 50px;
            border: 5px #ffffff15 solid;
            border-bottom: 5px #ffffff55 solid;
            border-radius: 50%;
            animation: spin 1s linear infinite;
            margin-bottom: 50px;
        }

        &-list {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;

            &-block {
                text-align: center;
            }

            &-item {
                display: flex;
                flex-direction: column;
                width: 20%;
                font-size: 14px;
                height: 0;

                background: #ffffff15;
                border-radius: 10px;
                padding: 20px;
                transition: box-shadow 0.3s ease, background 0.3s ease;

                &:hover {
                    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
                    background: #80808030;
                }

                &-title {
                    font-size: 32px;
                    margin-top: 10px;
                    margin-bottom: 30px;
                    font-weight: 100;
                    border-bottom: 1px #434343 solid;
                }

                &-body {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    gap: 30px;
                    font-size: 12px;

                    &-main {
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        &-icon {
                            width: 75px;
                            height: 75px;
                        }

                        &-value {
                            display: flex;
                            flex-direction: row;
                            gap: 20px;

                            div {
                                display: flex;
                                flex-direction: row;
                                justify-content: space-between;
                                align-items: center;
                                font-size: 24px;
                                gap: 10px;

                                small {
                                    font-size: 12px;
                                }
                            }
                        }
                    }

                    &-second {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;

                        &-block {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: space-between;
                            gap: 15px;

                            &-label {
                                display: inline-flex;
                                align-items: center;
                                font-size: 14px;
                                font-weight: 100;

                                svg {
                                    margin-right: 5px;
                                    width: 20px;
                                    height: 20px;
                                }
                            }

                            &-value {
                                font-size: 18px;
                                font-weight: 300;
                            }

                            &--direction {
                                display: flex;
                                flex-direction: row;
                                justify-content: center;
                                margin-bottom: 20px;

                                .daily__content-list-item-body-second-block-value {
                                    font-size: 20px;
                                    font-weight: 500;
                                }

                                .compass {
                                    width: 100px !important;
                                    height: 50px !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &--visible {
        .daily__title {
            &-arrow {
                transform: rotate(180deg);
            }
        }

        .daily__content {
            height: auto;
            opacity: 1;
            visibility: visible;
            margin-bottom: 50px;

            &-list {
                &-item {
                    height: auto;
                }
            }
        }
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
