.header {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 10vh;
    width: 100%;

    &__logo {
        margin: 20px;
        font-size: 50px;
        opacity: 0.3;
        font-family: "Marck-Script", sans-serif;
    }

    input {
        position: absolute;
        left: 60px;
        opacity: 0.1;
        cursor: grab;
    }
}
