.header {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: max(100%, 320px);
    
    &__logo {
        user-select: none;
        margin: 20px;
        font-size: 3rem;
        opacity: 0.3;
        font-family: "Marck-Script", sans-serif;

        @media (max-width: 900px) {
            font-size: 2.5rem;
        }
    }

    input {
        position: absolute;
        left: 60px;
        opacity: 0.1;
        cursor: grab;
    }
}
