.burger-menu {
    display: flex;
    flex-direction: column;
    width: 50px;
    height: 100vh;
    backdrop-filter: blur(5px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    align-items: center;
    transition: width 0.5s;

    .burger-btn {
        display: flex;
        width: 50px;
        height: 50px;
        border: none;
        background: transparent;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        text-align: center;

        margin-right: auto;

        &:hover {
            opacity: 0.6;
        }

        &__icon {
            display: flex;
            flex-direction: column;
            width: 70%;
            gap: 8px;
            padding: 3px 0;

            &-line {
                border: 2px #434343 solid;
                border-radius: 10px;
                margin: 0;

                &-top {
                    transform-origin: 0% 0%;
                    transition: transform 0.3s ease-in-out;

                    &--active {
                        transform: rotate(45deg);
                    }
                }

                &-middle {
                    transition: transform 0.1s ease-in-out;

                    &--active {
                        transform: scaleY(0);
                    }
                }

                &-bottom {
                    transform-origin: 0% 100%;
                    transition: transform 0.3s ease-in-out;

                    &--active {
                        transform: rotate(-45deg);
                    }
                }
            }
        }
    }

    &__search-city {
        display: flex;
        opacity: 0;
        visibility: hidden;
        flex-direction: row;
        justify-content: space-between;
        height: 50px;
        border-bottom: 1px whitesmoke solid;
        transition: all 0.5s;

        &-input {
            background: transparent;
            border: none;
            color: whitesmoke;
            font-size: 25px;
            font-weight: 100;
            width: 70%;

            &:focus-visible {
                outline: none;
                box-shadow: none;
            }
        }

        &-btn {
            display: flex;
            width: 50px;
            height: 50px;
            font-size: 25px;
            border-radius: 0;
            border: none;
            text-align: center;
            align-items: center;
            justify-content: center;

            &:hover {
                cursor: pointer;
                opacity: 0.6;
            }

            img {
                width: 70%;
                height: 70%;
            }
        }

        &--active {
            opacity: 1;
            visibility: visible;
        }
    }

    &__pinned-city-list {
        height: 150px;
        min-width: 150px;
        max-width: 300px;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        align-items: center;
        gap: 10px;
        padding: 0;
        margin-bottom: 0;

        transition: all 0.5s;
        opacity: 0;
        visibility: hidden;

        &-item {
            list-style-type: none;
            font-weight: 100;
            font-size: 24px;
            border: 1px transparent solid;
            cursor: pointer;
            transition: opacity 0.5s ease;

            &:hover {
                opacity: 0.7;
                border-bottom: 1px #434343 solid;
            }
        }
    }

    &__navbar {
        display: block;
        margin: auto 0;

        &-link-list {
            display: flex;
            flex-direction: column;
            gap: 30px;
            list-style-type: none;
            padding: 0;
            text-align: center;

            &-item {
                a {
                    color: whitesmoke;
                    font-size: 28px;
                    font-weight: 100;
                    text-decoration: none;
                    cursor: pointer;

                    &:hover {
                        opacity: 0.7;
                    }

                    span {
                        display: block;
                        opacity: 0;
                        font-size: 0;
                        transition: all 0.5s;
                    }
                }
            }
        }
    }

    &__control {
        margin-top: auto;

        &-lang {
            display: inline;
            cursor: pointer;
            font-size: 20px;

            &:hover {
                opacity: 0.6;
            }
        }
    }
}
