@use "./styles/BurgerMenu";
@use "./styles/SearchCity";
@use "./styles//PinnedSityList";

.burger-menu {
    &__navbar {
        display: block;
        margin: auto 0;

        &-link-list {
            display: flex;
            flex-direction: column;
            gap: 30px;
            list-style-type: none;
            padding: 0;
            text-align: center;

            &-item {
                a {
                    color: whitesmoke;
                    font-size: 28px;
                    font-weight: 100;
                    text-decoration: none;
                    cursor: pointer;

                    &:hover {
                        opacity: 0.7;
                    }

                    span {
                        display: block;
                        font-size: 0;
                        opacity: 0;
                        transition: all 0.5s;
                    }
                }
            }
        }
    }

    &__control {
        margin-top: auto;

        &-lang {
            display: inline;
            cursor: pointer;
            font-size: 20px;

            &:hover {
                opacity: 0.6;
            }
        }
    }
}
