.wind {
    &__content {
        display: flex;
        flex-direction: row;
        width: 70%;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;

        &-text {
            display: flex;
            flex-direction: column;
            font-weight: 300;
            font-size: 24px;
            gap: 10px;
            background: #ffffff15;
            border-radius: 10px;
            padding: 20px;

            &-block {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 50px;
                font-size: 20px;

                &--direction {
                    font-size: 32px;
                    font-weight: 200;
                    margin-bottom: 20px;

                    small {
                        margin-left: -40px;
                    }
                }

                &-icon {
                    display: inline-flex;
                    font-size: 36px;
                    align-items: center;
                    margin-right: -45px;

                    img {
                        width: 40px;
                        height: 40px;
                    }
                }

                strong {
                    font-size: 30px;
                    margin-left: auto;

                    small {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}
