body {
    height: 100vh;
    background-image: url("./assets/images/louise_lake_mountains.jpg");
    backdrop-filter: blur(15px);
    margin: 0;

    #root {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}